In [1]:
#Q1. How do you comment code in Python? What are the different types of comments?

In [2]:
#we comment code by using #single line comment

In [3]:
"""
for multi line 
comment
"""

'\nfor multi line \ncomment\n'

In [4]:
#Q2. What are variables in Python? How do you declare and assign values to variables?

In [5]:
# A variable is a name given to a memory location in a program 
#we assign variable by = sign

In [6]:
#Q3. How do you convert one data type to another in Python?

In [7]:
# we convert one data type to another data type by the process of TYPE CASTING

In [8]:
a,b=1,'2'

In [9]:
c=int(b)

In [10]:
sum=a+c

In [11]:
print(sum)

3

In [12]:
#Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

In [13]:
my_list=[1,2,3,4,5]

In [18]:
my_list[1:3]

[2, 3]

In [19]:
#Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

In [20]:
age=25

In [21]:
print(age)

25

In [24]:
#Q8. """Declare a variable named price and assign the value 9.99 to it. What data type does this variable

In [25]:
price=99.9

In [26]:
print(type(price))

<class 'float'>

In [27]:
#Q9. Create a variable named name and assign your full name to it as a string. How would you print the
#value of this variable?

In [28]:
name="rose jaiswal"

In [29]:
print(name)

rose jaiswal

In [30]:
#Q10. Given the string "Hello, World!", extract the substring "World".

In [31]:
string="hello,World!"

In [32]:
string[6:]

'World!'

In [34]:
#Q11.Create a variable named "is_student" and assign it a boolean value indicating whether you are
#currently a student or not.

In [35]:
student_status = True